*{
    margin: 0;
}
.header-contain{
    width: auto;
    height: 150px;
}
.top-nav{
    background-color: rgb(245, 245, 245);
    box-shadow: 5px 5px 6px 0px;
    height: 100px;
}
.gambar{
    height: 50px;
    width: 50px;
}
.logo{
    width: 100px;
    height: 100px;
}
.name{
    font-size: 30px;
    font-family: 'Dancing Script', cursive;
    margin: 23px 0px 0px 20px;
}