*{
    margin: 0;
}
.header-contain{
    width: auto;
    height: 150px;
}
.top-nav{
    background-color: rgb(245, 245, 245);
    position: relative;
    box-shadow: 5px 5px 6px 0px;
    height: 100px;
    width: auto;
}
.tombol-nav{
    width: 120px;
    height: 30px;
    position: absolute;
    top: 30px;
    right: 20px;
}
.logo{
    width: 100px;
    height: 100px;
}
.name{
    font-size: 30px;
    font-family: 'Dancing Script', cursive;
    margin: 23px 0px 0px 20px;
}